<table class="general_shortcodes">
  <tr><td colspan="2"><h2>Algemeen shortcodes</h2></td></tr>

  <tr>
    <th align="left">Omschrijving</th>
    <th align="left">Beschikbare shortcodes algemeen</th>
  </tr>

  <tr>
    <td width="25%">Teams</td>
    <td width="75%"><pre>[knvb uri="/teams"]</pre></td>
  </tr>

  <tr>
    <td width="25%">Wedstrijden</td>
    <td width="75%"><pre>[knvb uri="/wedstrijden"]</pre></td>
  </tr>

  <tr>
    <td width="25%">Competities</td>
    <td width="75%"><pre>[knvb uri="/competities"]</pre></td>
  </tr>
</table>
