<table class="parameter_shortcodes">
  <tr><td colspan="3"><h2>Parameters</h2></td></tr>
  <tr>
    <td colspan="3">
      <p><strong>Let op, dit zijn enkel voorbeelden van shortcodes met hun parameters.
      Deze zijn niet specifiek op uw club van toepassing zijn.</strong>
      <br><br>
      In de shortcode kunt u extra opties meegeven. Onderstaand vind u welke extra
      opties er beschikbaar zijn en op welke shortcodes deze van toepassing zijn.
      U kunt meerdere opties combineren door het '&#38;' symbool te gebruiken:
      <br><br>
      [knvb uri="/wedstrijden" extra="weeknummer=A<strong>&#38;</strong>logo=1"]
      <br><br>
      </p>
    </td>
  </tr>
  <!-- SCHEIDINGS HEADER -->
  <tr>
    <td colspan="3"><h3>Opmaak &amp; Sortering</h3></td>
  </tr>
  <tr><td colspan="3"><hr></td></tr>
  <tr>
    <th align="left">Extra optie</th>
    <th align="left">Soort shortcode</th>
    <th align="left">Voorbeeld shortcode</th>
  </tr>
  <!-- SCHEIDINGS HEADER -->
  <!-- KOLOM NAMEN -->
  <tr>
    <td rowspan="10">Kolom namen</td>
  </tr>

  <tr>
    <td>Teams</td>
    <td><pre>[knvb uri="/teams" extra="headers=1"]</pre></td>
  </tr>
  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="headers=1"]</pre></td>
  </tr>
  <tr>
    <td>Competities</td>
    <td>
      <pre>[knvb uri="/competities" extra="headers=1"]</pre>
    </td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td>
      <pre>[knvb uri="/teams/129407/results" extra="headers=1"]</pre>
    </td>
  </tr>
  <tr>
    <td>Programma</td>
    <td>
      <pre>[knvb uri="/teams/129407/schedule" extra="headers=1"]</pre>
    </td>
  </tr>
  <tr>
    <td>Stand</td>
    <td>
      <pre>[knvb uri="/teams/129407/ranking" extra="headers=1"]</pre>
    </td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td>
      <pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="headers=1"]</pre>
    </td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td>
      <pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="headers=1"]</pre>
    </td>
  </tr>
  <tr>
    <td>Competitie stand</td>
    <td>
      <pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="headers=1"]</pre>
    </td>
  </tr>
  <!-- / KOLOM NAMEN -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- AFGEKORTE KOLOM NAMEN -->
  <tr>
    <td rowspan="3">Kolom namen - Afgekort</td>
  </tr>

  <tr>
    <td>Stand</td>
    <td>
      <pre>[knvb uri="/teams/129407/ranking" extra="shortheaders=1"]</pre>
    </td>
  </tr>
  <tr>
    <td>Competitie stand</td>
    <td>
      <pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="shortheaders=1"]</pre>
    </td>
  </tr>
  <!-- / AFGEKORTE KOLOM NAMEN -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- LOGO -->
  <tr>
    <td rowspan="8">Logo</td>
  </tr>

  <tr>
    <td><p>Wedstrijden<p></td>
    <td><pre>[knvb uri="/wedstrijden" extra="logo=1"]<pre></td>
  </tr>
  <tr>
    <td><p>Uitslagen</p></td>
    <td><pre>[knvb uri="/teams/129407/results" extra="logo=1"]</pre></td>
  </tr>
  <tr>
    <td><p>Programma</p></td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="logo=1"]</pre></td>
  </tr>
  <tr>
    <td><p>Stand</p></td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="logo=1"]</pre></td>
  </tr>
  <tr>
    <td><p>Competitie uitslagen</p></td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="logo=1"]</pre></td>
  </tr>
  <tr>
    <td><p>Competitie programma</p></td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="logo=1"]</pre></td>
  </tr>
  <tr>
    <td><p>Competitie stand</p></td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="logo=1"]</pre></td>
  </tr>
  <!-- / LOGO -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- MAX AANTAL RESULTATEN -->
  <tr>
    <td rowspan="10">Max aantal resultaten</td>
  </tr>

  <tr>
    <td>Teams</td>
    <td><pre>[knvb uri="/teams" extra="resultaten=10"]</pre></td>
  </tr>
  <tr>
    <td>wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="resultaten=10"]</pre></td>
  </tr>
  <tr>
    <td>Competities</td>
    <td><pre>[knvb uri="/competities" extra="resultaten=10"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="resultaten=10"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="resultaten=10"]</pre></td>
  </tr>
  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="resultaten=10"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="resultaten=10"</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="resultaten=10"]</pre></td>
  </tr>
  <tr>
    <td>Competitie stand</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="resultaten=10"]</pre></td>
  </tr>
  <!-- / MAX AANTAL RESULTATEN -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- WEEKNUMMER - VORIGE WEEK -->
  <tr>
    <td rowspan="6">Weeknummer - Vorige week </td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="weeknummer=P"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="weeknummer=P"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="weeknummer=P"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="weeknummer=P"]</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="weeknummer=P"]</pre></td>
  </tr>
  <!-- WEEKNUMMER - VORIGE WEEK -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- WEEKNUMMER - HUIDIGE WEEK -->
  <tr>
    <td rowspan="6">Weeknummer - Huidige week </td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="weeknummer=C"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="weeknummer=C"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="weeknummer=C"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="weeknummer=C"]</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="weeknummer=C"]</pre></td>
  </tr>
  <!-- / WEEKNUMMER - HUIDIGE WEEK -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- WEEKNUMMER - VOLGENDE WEEK -->
  <tr>
    <td rowspan="6">Weeknummer - Volgende week </td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="weeknummer=N"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="weeknummer=N"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="weeknummer=N"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="weeknummer=N"]</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="weeknummer=N"]</pre></td>
  </tr>
  <!-- / WEEKNUMMER - VOLGENDE WEEK -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- WEEKNUMMER - VORIGE, HUIDIGE & VOLGENDE WEEK -->
  <tr>
    <td rowspan="6">Weeknummer - Vorige, huidige &amp; volgende week</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="weeknummer=PCN"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="weeknummer=PCN"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="weeknummer=PCN"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="weeknummer=PCN"]</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="weeknummer=PCN"]</pre></td>
  </tr>
  <!-- / WEEKNUMMER - VORIGE, HUIDIGE & VOLGENDE WEEK -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- WEEKNUMMER - VORIGE & HUIDIGE WEEK -->
  <tr>
    <td rowspan="6">Weeknummer - Vorige &amp; huidige week</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="weeknummer=PC"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="weeknummer=PC"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="weeknummer=PC"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="weeknummer=PC"]</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="weeknummer=PC"]</pre></td>
  </tr>
  <!-- / WEEKNUMMER - VORIGE & HUIDIGE WEEK -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- WEEKNUMMER - VORIGE & VOLGENDE WEEK -->
  <tr>
    <td rowspan="6">Weeknummer - Vorige &amp; volgende week</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="weeknummer=PN"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="weeknummer=PN"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="weeknummer=PN"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="weeknummer=PN"]</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="weeknummer=PN"]</pre></td>
  </tr>
  <!-- / WEEKNUMMER - VORIGE & VOLGENDE WEEK -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- WEEKNUMMER - HUIDIGE & VOLGENDE WEEK -->
  <tr>
    <td rowspan="6">Weeknummer - Huidige &amp; volgende week</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="weeknummer=CN"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="weeknummer=CN"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="weeknummer=CN"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="weeknummer=CN"]</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="weeknummer=CN"]</pre></td>
  </tr>
  <!-- /WEEKNUMMER - HUIDIGE & VOLGENDE WEEK -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- SORTEREN UIT/THUIS -->
  <tr>
    <td rowspan="2">Sorteren uit/thuis</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="thuis=1"]</pre></td>
  </tr>
  <!-- / SORTEREN UIT/THUIS -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- ALLEEN THUIS -->
  <tr>
    <td rowspan="2">Alleen thuis</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="thuis=1&#38;thuisonly=1"]</pre></td>
  </tr>
  <!-- / ALLEEN THUIS -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- ALLEEN UIT -->
  <tr>
    <td rowspan="2">Alleen uit</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="thuis=1&#38;uitonly=1"]</pre></td>
  </tr>
  <!-- / ALLEEN UIT -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- SORTEREN OP TEAM -->
  <tr>
    <td rowspan="2">Sorteren op team</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="sorterenopteam=1"]</pre></td>
  </tr>
  <!-- /SORTEREN OP TEAM -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- SCHEIDINGS HEADER -->
  <tr>
    <td colspan="3"><h3>KNVB Dataservice API Parameters</h3></td>
  </tr>
  <tr><td colspan="3"><hr></td></tr>
  <tr>
    <th align="left">Extra optie</th>
    <th align="left">Soort shortcode</th>
    <th align="left">Voorbeeld shortcode</th>
  </tr>
  <!-- SCHEIDINGS HEADER -->
  <!-- WEEKNUMMER -->
  <tr>
    <td rowspan="6">Weeknummer</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="weeknummer=17"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="weeknummer=17"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="weeknummer=17"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="weeknummer=17"]</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="weeknummer=17"]</pre></td>
  </tr>
  <!-- / WEEKNUMMER -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- WEEKNUMMER - ALLE WEKEN -->
  <tr>
    <td rowspan="6">Weeknummer - Alle weken </td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="weeknummer=A"]</pre></td>
  </tr>
  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="weeknummer=A"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="weeknummer=A"]</pre></td>
  </tr>
  <tr>
    <td>Competitie uitslagen</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/results" extra="weeknummer=A"]</pre></td>
  </tr>
  <tr>
    <td>Competitie programma</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/schedule" extra="weeknummer=A"]</pre></td>
  </tr>
  <!-- / WEEKNUMMER - ALLE WEKEN -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- COMPETITIE TYPE - REGULIER -->
  <tr>
    <td rowspan="5">Competitie type - Regulier</td>
  </tr>

  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="comptype=R"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="comptype=R"]</pre></td>
  </tr>
  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="comptype=R"]</pre></td>
  </tr>
  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="comptype=R"]</pre></td>
  </tr>
  <!-- / COMPETITIE TYPE - REGULIER -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- COMPETITIE TYPE - BEKER -->
  <tr>
    <td rowspan="5">Competitie type - Beker</td>
  </tr>

  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="comptype=B"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="comptype=B"]</pre></td>
  </tr>
  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="comptype=B"]</pre></td>
  </tr>
  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="comptype=B"]</pre></td>
  </tr>
  <!-- / COMPETITIE TYPE - BEKER -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- COMPETITIE TYPE - NACOMPETITIE -->
  <tr>
    <td rowspan="5">Competitie type - Nacompetitie</td>
  </tr>

  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="comptype=N"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="comptype=N"]</pre></td>
  </tr>
  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="comptype=N"]</pre></td>
  </tr>
  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="comptype=N"]</pre></td>
  </tr>
  <!-- / COMPETITIE TYPE - NACOMPETITIE -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- COMPETITIE TYPE - VRIENDSCHAPPELIJKE COMPETITIE -->
  <tr>
    <td rowspan="5">Competitie type - Vriendschappelijke competitie</td>
  </tr>

  <tr>
    <td>Uitslagen</td>
    <td><pre>[knvb uri="/teams/129407/results" extra="comptype=V"]</pre></td>
  </tr>
  <tr>
    <td>Programma</td>
    <td><pre>[knvb uri="/teams/129407/schedule" extra="comptype=V"]</pre></td>
  </tr>
  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="comptype=V"]</pre></td>
  </tr>
  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="comptype=V"]</pre></td>
  </tr>
  <!-- / COMPETITIE TYPE - VRIENDSCHAPPELIJKE COMPETITIE -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- POULE - ALLEMAAL -->
  <tr>
    <td rowspan="2">Poule - Allemaal</td>
  </tr>

  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="pouleid=A"]</pre></td>
  </tr>
  <!-- / POULE - ALLEMAAL -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- POULE - NUMMER -->
  <tr>
    <td rowspan="2">Poule - Nummer</td>
  </tr>

  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="pouleid=419667"]</pre></td>
  </tr>
  <!-- / POULE - NUMMER -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- ZAAL OF VELD - VELD -->
  <tr>
    <td rowspan="2">Zaal of veld - Veld</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="zaalveld=veld"]</pre></td>
  </tr>
  <!-- / ZAAL OF VELD - VELD -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- ZAAL OF VELD - ZAAL -->
  <tr>
    <td rowspan="2">Zaal of veld - Zaal</td>
  </tr>

  <tr>
    <td>Wedstrijden</td>
    <td><pre>[knvb uri="/wedstrijden" extra="zaalveld=zaal"]</pre></td>
  </tr>
  <!-- / ZAAL OF VELD - ZAAL -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- PERIODE - ALLE -->
  <tr>
    <td rowspan="3">Periode - Alle</td>
  </tr>

  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="periode=A"]</pre></td>
  </tr>
  <tr>
    <td>Competitie stand</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="periode=A"]</pre></td>
  </tr>
  <!-- / PERIODE - ALLE -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- PERIODE - HUIDIG -->
  <tr>
    <td rowspan="3">Periode - Huidig</td>
  </tr>

  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="periode=S"]</pre></td>
  </tr>
  <tr>
    <td>Competitie stand</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="periode=S"]</pre></td>
  </tr>
  <!-- / PERIODE - HUIDIG -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- PERIODE - 1 -->
  <tr>
    <td rowspan="3">Periode - 1</td>
  </tr>

  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="periode=1"]</pre></td>
  </tr>
  <tr>
    <td>Competitie stand</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="periode=1"]</pre></td>
  </tr>
  <!-- / PERIODE - 1 -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- PERIODE - 2 -->
  <tr>
    <td rowspan="3">Periode - 2</td>
  </tr>

  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="periode=2"]</pre></td>
  </tr>
  <tr>
    <td>Competitie stand</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="periode=2"]</pre></td>
  </tr>
  <!-- / PERIODE - 2 -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- PERIODE - 3 -->
  <tr>
    <td rowspan="3">Periode - 3</td>
  </tr>

  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="periode=3"]</pre></td>
  </tr>
  <tr>
    <td>Competitie stand</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="periode=3"]</pre></td>
  </tr>
  <!-- / PERIODE - 3 -->
  <tr><td colspan="3"><hr></td></tr>
  <!-- PERIODE - 4 -->
  <tr>
    <td rowspan="3">Periode - 4</td>
  </tr>

  <tr>
    <td>Stand</td>
    <td><pre>[knvb uri="/teams/129407/ranking" extra="periode=4"]</pre></td>
  </tr>
  <tr>
    <td>Competitie stand</td>
    <td><pre>[knvb uri="/competities/129407/W1/0512/14/419667/ranking" extra="periode=4"]</pre></td>
  </tr>
  <!-- / PERIODE - 4 -->
  <tr><td colspan="3"><hr></td></tr>
</table>
